body {
  background-color: #f7fafc;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.form-container {
  width: 100%;
  max-width: 600px;
  display: flex;
  gap: 20px; /* Add space between step indicator and form */
}

.step-indicator {
  width: 25%;
  background-color: #2a0144; /* Background color for step indicator */
  padding: 20px; /* Padding inside the step indicator */
  border-radius: 8px;
  color: white; /* Text color for step indicator */
}

.step-indicator ul {
  list-style-type: none;
  padding: 0;
}

.step-item {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
}

.active-step {
  font-weight: bold;
  color: #964dc3; /* Change the color for active step */
  border-color: #964dc3;
}

.form-step {
  width: 75%;
}

.form-step h2 {
  margin-bottom: 20px;
}

.form-step label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-step input,
.form-step select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: #f0f0f0; /* Light background for inputs */
}

.form-step button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.next-button {
  background: linear-gradient(
    to right,
    #964dc3,
    #f42a8b
  ); /* Gradient for Next button */
  color: white;
}

.prev-button {
  background-color: white; /* Distinct color for Previous button */
  color: #2a0144;
  font-weight: bolder;
  border: 3px solid black;
}
