@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 34, 1, 54;
    --foreground: 222.2 84% 4.9%;
    --ring: 171, 85, 223, 0.55;
    --orange: 224, 132, 0, 1;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin-right: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    height: 200px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  ::-webkit-scrollbar-track-piece {
    background: rgb(226, 234, 226);
  }

  .scroll::-webkit-scrollbar {
    height: 6px !important;
  }

  .my_underline {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 15px;
  }

  .my_underline::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #e08400;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .your_underline {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 7px;
  }

  .your_underline::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    background-color: #e08400;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
